<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<ul>
  	<% users.forEach(function(user){%>
  		<li>
  			Nombre <input type="text" value="<%= user.name %>">
    		Edad <input type="text" value="<%= user.age %>">
    	</li>
  	<% }) %>
  	</ul>
    
  </body>
</html>
